.collection div.collection-item{
    display: flex;
    justify-content: space-around;
    font-size: 20px !important;
    text-transform: capitalize;
}
div.collection-item:hover{
  background-color: #d3d3d3;
  transition: all 1s;
  font-size: 25px !important;
  color: white;
}
.input {
    display: flex;
    justify-content: space-around;
}

.edit{
    margin-left: auto;
    margin-right: 30px;
}
.container{
  padding:30px;
}